<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# H1

# In this notebook, Data science Tools and Ecosystem are summarized.

***Objective***  

  . Create a Jupyter Notebook 
 
  . Insert code and markdown cells
  
  . Share your notebook through GitHub

Some of the popular languages that Data Scientists use are:   
    
    1/Scikit-Learni.  
    2/Matplotlib.
    3/Numpy.

Some of the commonly used libraries used by Data Scientists include:   
     
    1/Numpy.
    2/Matplotlib 
    3/Scikit-Learni


| Environment Open Source Tools | 
   | ----------------- |
    | Apache Airflow |
    | kubeflow|
    | Apache NiFi |

# H3: Below are a few examples of arithmetic expressions in Python

In [47]:
# This a simple arithmetic expression to mutiple then add integers.

In [46]:
# This will convert 200 minutes to hours by diving by 60
200/60 # Apportionment

3.3333333333333335

# Author
Lakshmi Holla

Niveditha Pandith